{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>PHE DevOps Test Example</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>PHE DevOps Test Example</h1>
{{ end }}